body{
    background-image: linear-gradient( 135deg, #B44FBD 10%, #D939CD 100%);
}
.contenedor{
    display: flex;
    background-image: linear-gradient(  #821cbd 9%, #340057 100%);
    padding: 280px 50px 30px 13px;
    margin: 50px 130px;
    border-radius:10px 10px 10px 10px;

}
.tarjeta{
    display:inline-flex;
    margin: -100px 80px ;
    position: relative;
    bottom:130px; 
      
}
.tarjeta-img1{
    border-radius: 6px;
    background: white;
    box-shadow: 1px 1px 5px; 
    height:400px;
    width: 300px; 
    right: 10px;
    
}
.tarjeta-img2{
    border-radius: 6px;
    background: white;
    box-shadow: 1px 1px 5px;
    height:400px;
    width: 300px;
    
        
}
.tarjeta-img3{
    border-radius: 6px;
    background: white;
    box-shadow: 1px 1px 5px;
    height:400px;
    width: 300px;
    left: 10px;
        
}
.tarjeta-img1 img{
    width: 120px;
    height: 120px;
    border-radius: 50% 50% 50% 50%;
    align-items: center;
    margin: 30px;
    position: absolute;
    bottom: 205px;
    right: 60px;
}
.tarjeta-img2 img{
    width: 120px;
    height: 120px;
    border-radius: 50% 50% 50% 50%;
    align-items: center;
    margin: 30px;
    position: absolute;
    bottom: 205px;
    right: 60px;
   
}
.tarjeta-img3 img{
    width: 120px;
    height: 120px;
    border-radius: 50% 50% 50% 50%;
    align-items: center;
    margin: 30px;
    position: absolute;
    bottom: 205px; 
    right: 60px;
}
.precio{
    font-size: 40px;
    color:#B32EAE;
    font-family: 'Impact', arial;
    text-align: center;
    bottom: 40px;
    
}
.titulo{
    color:#B32EAE;
    font-family: 'Impact', arial;
    text-align: center;
    font-size: 30px;
}
.tarjeta-img1, .contenido, p{
    text-align: justify; 
    position: relative;
}
.tarjeta-img2, .contenido, p{
    text-align: justify;  
    position: relative;
}
.tarjeta-img3, .contenido, p{
    text-align: justify;
    position: relative;
}
.contenido{
    top: 150px;
}
p{
    margin: 50px;
}
.contenido, .valor{
    bottom: 40px;
}
.tarjeta-img1:hover{
    -webkit-transform:scale(1.10);
    -moz-transform:scale(1.10);
    -ms-transform:scale(1.10);
    -o-transform:scale(1.10);
    transform:scale(1.10);
    z-index: 3;
}
.tarjeta-img2:hover{
    -webkit-transform:scale(1.10);
    -moz-transform:scale(1.10);
    -ms-transform:scale(1.10);
    -o-transform:scale(1.10);
    transform:scale(1.10);
    z-index: 3;
}
.tarjeta-img3:hover{
    -webkit-transform:scale(1.10);
    -moz-transform:scale(1.10);
    -ms-transform:scale(1.10);
    -o-transform:scale(1.10);
    transform:scale(1.10);
    z-index: 3;  
}
@media  screen and (max-width: 400px){
    body{
        max-width: 100%;
    }
    .contenedor{
        margin-left: -90px;
        background-image: none;
    }
    .tarjeta{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }
    .tarjeta-img1{
        bottom:30px;
    } 
    .tarjeta-img3{
        top: 30px;
    }
}